
  <div class="dream">

    <h1><%=@dream.title%></h1>
    <h3><%=@dream.collection%></h3>
    <div>----------------------------------------------------------------------</div>
    <p class="dream-text"><%=@dream.content%></p>
  </div>

