<div class="search-results">
  <h2>Search dreams</h2>
  <ul>
    <% @dreams.each do |dream|  %>
      <li><%= link_to dream.title, display_dream_path(id: dream.id), remote:true, data: {trigger: 'display_dream'}%></li>
    <%end%>
  </ul>
</div>
<%= javascript_pack_tag 'display_dream' %>