// Place all the styles related to the dreams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

html {
  font-family: 'Libre Baskerville', serif;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.modal {
  z-index: 5;
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__container {
    max-width: 800px;
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
    padding: 2rem;
    a {
      color: white;
    }
  }
  &__close-button {
    cursor: pointer;
    border: 1px solid white;
    font-size: 1.2em;
    padding: 0.2em 0.5em;
    margin: 0.5em;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}

.header {

  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  
  &__modal-link {
    position: absolute;
    top:0;
    right: 0;
    font-size: 4em;
    margin: 1rem;
  }
  &__site-heading {
    font-family: 'UnifrakturCook', monospace;
    font-size: 5em;
    margin: 1rem;
  }
  &__randomize-button {
    width: fit-content;
    font-family: 'UnifrakturCook', monospace;
    font-size: 1.5em;
    color: white;
    background-color: black;
    border: 1px solid white;
    padding : 0.2em 0.5em;
    text-decoration: none;
    margin: 0;
   
  }
   &__randomize-button:hover {
    color: black;
    background-color: white;
    border: 1px solid black

  }
  &__instructions {
  flex-grow: 0;
  width: fit-content;
  // background-color: black;
  // color: white;
  font-size: 1.2em;
  display: inline-block;
  padding: 0.2em;
}
}


.main {
  display: flex;
  flex: none;
  width: auto;
  overflow-x: auto;
}


.dream {
  height: fit-content;
  width: 600px;
  flex-shrink: 0;
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem;
  animation: 0.5s linear fadein;

  &__search--prev {
    background-color: black;
    color: white;
  }

  &__search--next {
    background-color: rgb(212, 0, 0);
    color: white;
  }
}

.search-results {
  flex-shrink: 0;
  height: fit-content;
  max-height: 500px;
  overflow-y: scroll;
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem;
  animation: 0.5s linear fadein;

  &__query {
    background-color: black;
    color: white;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    font-size: 1.2em;
    margin: 0.2em 0;
    a {
      color: black;
      font-weight: bold
    }
  }

  &__item--selected {
    background-color: black;
    a {
color: white;
    }
    
  }

}

.dream:first-child {
    margin-left: auto;

}
.dream:last-child, .search-results:last-child {
    margin-right: auto;
}

.hidden {
  display: none;
}